STRINGTABLE
   {
   IDS_UITITLE                 SZ_UITITLE
   IDS_SHUTDOWNTITLE           SZ_SHUTDOWNTITLE
   IDS_WINKEYS                 SZ_WINKEYTITLE
   IDS_PAGE1OF3                SZ_PAGE1OF3
   IDS_PAGE2OF3                SZ_PAGE2OF3
   IDS_PAGE3OF3                SZ_PAGE3OF3
   IDS_GENOPTIONS              SZ_GENOPTIONS
   IDS_TITLEBAR                SZ_TITLEBAR
   IDS_ACTIVEWIN               SZ_ACTIVEWIN
   IDS_INACTIVEWIN             SZ_INACTIVEWIN
   IDS_PUSHBUTTON              SZ_PUSHBUTTON
   IDS_DIALOGOPT               SZ_DIALOGOPTS
   IDS_PRODINFO                SZ_PRODINFO
   IDS_SHUTDOWN                SZ_SHUTDOWN
   IDS_REBOOT                  SZ_REBOOT
   IDS_SHUTDOWNPROGS           SZ_SHUTDOWNPROGS
   IDS_KILLLIST                SZ_KILLLIST
   IDS_VERSION                 SZ_VERSION
   IDS_WKEYITEM01              SZ_WKEYITEM01
   IDS_WKEYITEM02              SZ_WKEYITEM02
   IDS_WKEYITEM03              SZ_WKEYITEM03
   IDS_WKEYITEM04              SZ_WKEYITEM04
   IDS_WKEYITEM05              SZ_WKEYITEM05
   IDS_WKEYITEM06              SZ_WKEYITEM06
   IDS_WKEYITEM07              SZ_WKEYITEM07
   IDS_WKEYITEM08              SZ_WKEYITEM08
   IDS_WKEYITEM09              SZ_WKEYITEM09
   IDS_WKEYITEM10              SZ_WKEYITEM10
   IDS_WKEYITEM11              SZ_WKEYITEM11
   IDS_WKEYITEM12              SZ_WKEYITEM12
   IDS_WKEYITEM13              SZ_WKEYITEM13
   IDS_WKEYITEM14              SZ_WKEYITEM14
   IDS_WKEYITEM15              SZ_WKEYITEM15
   IDS_WKEYITEM16              SZ_WKEYITEM16
   IDS_WKEYITEM17              SZ_WKEYITEM17
   IDS_WKEYITEM18              SZ_WKEYITEM18
   IDS_WKEYITEM19              SZ_WKEYITEM19
   IDS_WKEYITEM20              SZ_WKEYITEM20
   IDS_WKEYITEM21              SZ_WKEYITEM21
   IDS_WKEYITEM22              SZ_WKEYITEM22
   IDS_WKEYITEM23              SZ_WKEYITEM23
   IDS_WKEYITEM24              SZ_WKEYITEM24
   IDS_WKEYITEM25              SZ_WKEYITEM25
   IDS_WKEYITEM26              SZ_WKEYITEM26
   IDS_WKEYITEM27              SZ_WKEYITEM27
   IDS_WKEYITEM28              SZ_WKEYITEM28
   IDS_WKEYITEM29              SZ_WKEYITEM29
   IDS_ADDTOTHELIST            SZ_ADDTOTHELIST
   IDS__ADD                    SZ__ADD
   IDS_FONT_                   SZ_FONT_
   IDS_TITLEBARFONT            SZ_TITLEBARFONT
   IDS_FONTDLGSAMPLE           SZ_FONTDLGSAMPLE
   IDS_PREVIEWTITLE            SZ_PREVIEWTITLE
   IDS_GRADIENTCOLOR           SZ_GRADIENTCOLOR
   IDS_CLRSHADELEFT            SZ_CLRSHADELEFT
   IDS_CLRSHADTOP              SZ_CLRSHADTOP
   IDS_CLRSHADOUTER            SZ_CLRSHADOUTER
   IDS_CLRSHADRIGHT            SZ_CLRSHADRIGHT
   IDS_CLRSHADBOTTOM           SZ_CLRSHADBOTTOM
   IDS_CLRSHADINNER            SZ_CLRSHADINNER
   IDS_DEFIMAGE                SZ_DEFIMAGE

   ISERR_WORKERSEMAPHORE       SZERR_WORKERSEMAPHORE
   ISERR_WORKERTHREAD          SZERR_WORKERTHREAD
   ISERR_LOADRUNTIMEMODULE     SZERR_LOADRUNTIMEMODULE
   ISERR_QUERYPROCADDR         SZERR_QUERYPROCADDR
   ISERR_GETCUROPTIONS         SZERR_GETCUROPTIONS
   ISERR_ALLOCATION            SZERR_ALLOCATION
   ISERR_OPENPRF               SZERR_OPENPRF
   ISERR_READPRFDATA           SZERR_READPRFDATA
   ISERR_INITPM                SZERR_INITPM
   ISERR_REGBOXCLASS           SZERR_REGBOXCLASS
   ISERR_REGXCOMBOCLASS        SZERR_REGXCOMBOCLASS
   ISERR_REGCLRBTNCLASS        SZERR_REGCLRBTNCLASS
   ISERR_GETBMPHANDLES         SZERR_GETBMPHANDLES
   ISERR_SETNOTEBOOKPAGES      SZERR_SETNOTEBOOKPAGES
   ISERR_REGEXITLIST           SZERR_REGEXITLIST
   ISERR_TOOMANYENTRIES        SZERR_TOOMANYENTRIES
   ISERR_SAVEEXCPLIST          SZERR_SAVEEXCPLIST
   ISERR_READFILE              SZERR_READFILE
   ISERR_INVALIDFILE           SZERR_INVALIDFILE
   ISERR_BMPTOOLARGE           SZERR_BMPTOOLARGE
   ISERR_SAVEDATA              SZERR_SAVEDATA
   ISERR_APPLYBMP              SZERR_APPLYBMP
   ISERR_GETHPSFORHBMP         SZERR_GETHPSFORHBMP
   ISERR_GETBMPHANDLE          SZERR_GETBMPHANDLE
   ISERR_COPYFILE              SZERR_COPYFILE
   ISERR_SOURCEEQDEST          SZERR_SOURCEEQDEST
   ISERR_PROGLISTCOUNT         SZERR_PROGLISTCOUNT
   ISERR_INVALIDEXE            SZERR_INVALIDEXE
   ISERR_INSPAGE               SZERR_INSPAGE
   ISERR_DELPAGE               SZERR_DELPAGE
   ISERR_GETBOTTLIST           SZERR_GETBOTTLIST
   ISERR_GBLDISKHANDLE         SZERR_GBLDISKHANDLE
   ISERR_GBLREADSECT1          SZERR_GBLREADSECT1
   ISERR_GBLAIRBOOTVER         SZERR_GBLAIRBOOTVER
   ISERR_GBLREADSECT2          SZERR_GBLREADSECT2
   ISERR_GBLINVALIDDATA        SZERR_GBLINVALIDDATA
   ISERR_GBLREADSECT3          SZERR_GBLREADSECT3
   ISERR_GBLOPENLVM            SZERR_GBLOPENLVM
   ISERR_GBLLVMDRVLIST         SZERR_GBLLVMDRVLIST
   ISERR_GBLLVMPARTLIST        SZERR_GBLLVMPARTLIST
   ISERR_GBLLVMVOLINFO         SZERR_GBLLVMVOLINFO
   ISERR_INITHELP              SZERR_INITHELP
}
