*.obj
*.OBJ
*.res
*.RES
*.hlp
*.HLP
*.ipf
*.IPF
*.map
*.MAP
*.dll
*.DLL
*.exe
*.EXE
*.zip
*.ZIP
*.bak
*.BAK

# ignore rel directory
rel/

# ignore output directory
out/

# ignore local configuration files
eStyler.creator.user
LocalConfig.kmk
